<ul class="sidebar" id="sidebar">
    <li id="test" class="sidebar_menu"><a href="#" class="btn active"><img src="/static/image/layout_img/envelope.png" alt="Inbox"
          class="sidebar-logo"><span>Inbox</span></a></li>
    <li class="sidebar_menu"><a href="#" class="btn"><img src="/static/image/layout_img/chart-histogram.png" alt="Dashboard"
          class="sidebar-logo"><span>Dashboard</span></a></li>
    <li class="sidebar_menu"><a href="{% url 'history' %}" class="btn"><img src="/static/image/layout_img/book-alt.png" alt="History"
          class="sidebar-logo"><span>History</span></a></li>
    <ul class="sidebar_more">
      <li class="sidebar_menu"><a id="more_button" href="#" class="btn"><img src="/static/image/layout_img/arrow-square-down.png"
            alt="More" class="sidebar-logo_more"><span id="test_more">More</span></a>
      <li class="subsidebar"><a href="#" class="btn"><img src="/static/image/layout_img/address-book.png" alt="ContactList"
            class="sidebar-logo"><span>ContactList</span></a></li>
      <li class="subsidebar"><a href="#" class="btn"><img src="/static/image/layout_img/calendar.png" alt="Calendar"
            class="sidebar-logo"><span>Calender</span></a></li>
    </ul>
    </li>
</ul>